#!/bin/bash

# space left in hd
alias diskspace_report="df -P -kHl"

# Empty the Trash on all mounted volumes and the main HDD. then clear the useless sleepimage
alias emptytrash=" \
  sudo rm -rfv /Volumes/*/.Trashes; \
  rm -rfv ~/.Trash/*; \
  sudo rm -v /private/var/vm/sleepimage; \
"

# colorful cat!
alias cat='bat --paging never --decorations never'

# open dir in finder
alias finder='open -a finder .'

# flush DNS
alias flushdns="sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder"

# hide from finder
alias hide='chflags -h hidden'

# what's my ip address? (use `localip` function for local network ip)
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# where's my ip from? great for checking vpn
alias iplocation="curl -s ipinfo.io/${ip} | sed -nE '/country/{s/.*:\s*\"(.*)\",/\1/p;q}'"

# view files in a way i like
alias ll='ls -lahF'

# fuzzy finder for previewing file
alias preview="fzf --preview 'bat --color \"always\" {}'"

# remove sends to the trashcan, safer ftw
alias rm='trash'

# recursive remove
alias rrm='rm -Rf'

# community driven help
alias help='tldr'

# start an HTTP server from a directory, visit http://localhost:8000
# thanks to willurd for the python and ruby one liners! https://gist.github.com/willurd/5720255
# alias http_server='python -m SimpleHTTPServer 8000'
alias http_server="ruby -rwebrick -e'WEBrick::HTTPServer.new(:Port => 8000, :DocumentRoot => Dir.pwd).start'"
alias php_server='docker run -p 80:80 -v "${PWD}":/var/www/html php:7.0-apache'

# unhide from finder
alias unhide='chflags -h nohidden'
