#!/bin/bash

# `cat` with beautiful colors. requires: sudo easy_install -U Pygments
alias cat='pygmentize -O style=monokai -f console256 -g'

# space left in hd
alias diskspace_report="df -P -kHl"

# Empty the Trash on all mounted volumes and the main HDD. then clear the useless sleepimage
alias emptytrash=" \
  sudo rm -rfv /Volumes/*/.Trashes; \
  rm -rfv ~/.Trash/*; \
  sudo rm -v /private/var/vm/sleepimage; \
"

# open dir in finder
alias finder='open -a finder .'

# flush DNS
alias flushdns="sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder"

# thefuck: https://github.com/nvbn/thefuck
alias fuck='$(thefuck $(fc -ln -1))'

# hide from finder
alias hide='chflags -h hidden'

# quick way to edit hosts
alias hosts='sudo $EDITOR /etc/hosts'

# what's my ip address? (use `localip` function for local network ip)
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# view files in a way i like
alias ll='ls -lahF'

# remove sends to the trashcan, safer ftw
alias rm='trash'

# recursive remove
alias rrm='rm -Rf'

# start an HTTP server from a directory, visit http://localhost:8000
# thanks to willurd for the one liner! https://gist.github.com/willurd/5720255
alias static_http_server='python -m SimpleHTTPServer 8000'

# unhide from finder
alias unhide='chflags -h nohidden'