#!/bin/bash

# Update installed Ruby gems, Homebrew, npm, and their installed packages
alias brew_update="brew -v update; brew upgrade --force-bottle --cleanup; brew cleanup; brew cask cleanup; brew prune; brew doctor; npm-check -g -u"

# `cat` with beautiful colors. requires: sudo easy_install -U Pygments
alias cat='pygmentize -O style=monokai -f console256 -g'

# space left in hd
alias diskspace_report="df -P -kHl"

# Empty the Trash on all mounted volumes and the main HDD. then clear the useless sleepimage
alias emptytrash=" \
  sudo rm -rfv /Volumes/*/.Trashes; \
  rm -rfv ~/.Trash/*; \
  sudo rm -v /private/var/vm/sleepimage; \
"

# open dir in finder
alias finder='open -a finder .'

# flush DNS
alias flushdns="sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder"

# thefuck: https://github.com/nvbn/thefuck
alias fuck='$(thefuck $(fc -ln -1))'

# quick way to edit hosts
alias hosts='sudo $EDITOR /etc/hosts'

# what's my ip address?
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# viewing folders
alias ll='ls -lahF'

# make python3 virtualenv
alias mkvirtualenv3='mkvirtualenv --python=/usr/local/bin/python3 '

# remove sends to the trashcan, safer ftw
alias rm='trash'

# recursive remove
alias rrm='rm -Rf'

# symlink local dev sites
alias suhosts='sudo vim /etc/hosts'

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"
