[alias]
	log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	amend = commit --amend
	c = commit -am
	file-history = log --follow -p
	delete-origin-branch = push origin --delete
	hard-reset = reset --hard origin/master
	rbm = rebase -i origin/master
	undopush = push -f origin HEAD^:master
	# lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

[core]
	excludesfile = /Users/craigruks/.gitignore
	quotepath = false

# so much color
[color]
	ui = always
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

# git mergetool
[merge]
	tool = opendiff

# rewrites of repo paths
[url "git@github.com:"]
	insteadOf = "gh:"
	insteadOf = "git://github.com"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
	pushInsteadOf = "https://github.com/"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
	pushInsteadOf = "https://gist.github.com/"

# don't fix the same conflict twice
[rerere]
	enabled = 1

# correct typos
[help]
	autocorrect = 1

# use separate file for username / github token / etc
[include]
  path = ~/.gitconfig.local

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
